
    <div class="row">
        <div class="col-md-12">
            <div class="copyright">
                <p>Copyright © 2022 Colorlib NGUYỄN MINH THUẬN  <a href="https://www.facebook.com/profile.php?id=100068034848619">FACEBOOK.</a></p>
            </div>
        </div>
    </div>